* {
    box-sizing: border-box;
}

html {
    color: #333333;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

html,
body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.m0 {
    margin: 0;
}

.mr0 {
    margin-right: 0;
}

.ml0 {
    margin-left: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.button {
    background: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 0;
}

.button--positive {
    background-image: -moz-linear-gradient(90deg, rgb(56, 132, 101) 0%, rgb(76, 178, 136) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(56, 132, 101) 0%, rgb(76, 178, 136) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(56, 132, 101) 0%, rgb(76, 178, 136) 100%);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(88, 196, 152, 0.004);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(88, 196, 152, 0.004);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 0 rgba(88, 196, 152, 0.004);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 32px;
    height: 40px;
}

.button--menu {
    position: relative;
}

.button--menu span {
    background: #fff;
    position: absolute;
    top: 23px;
    left: 15px;
    width: 23px;
    height: 3px;
}

.button--menu span:first-child {
    top: 17px;
}

.button--menu span:last-child {
    top: 30px;
}

.button--back {
    color: #fefefe;
    font-family: "Roboto Condensed", sans-serif;
    font-size: .875rem;
    line-height: 52px;
    text-transform: uppercase;
    padding: 0 15px 0 35px;
    position: relative;
}

.button--back:after,
.button--back:before {
    content: '';
    background: rgba(255, 255, 255, .6);
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 15px;
}

.button--back:before {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.button--back:after {
    top: 27px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*header-mobile*/

.header-mobile {
    background: #388465;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2500;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}

.header-mobile-controls {
    padding: 0 15px 0 0;
    width: 100%;
    height: 50px;
}

.header-mobile-buttons {
    float: left;
}

.header-mobile__button {
    width: 53px;
    height: 50px;
}

.header-mobile-culture {
    float: right;
}

.header-mobile-culture .culture-list__item {
    line-height: 50px;
    color: #000000;
}

.header-mobile-culture .culture-list__item.active .culture-item--link {
    background: #ffffff;
    color: #000;
}

.header-mobile__logo {
    background: #fff;
    text-align: center;
    padding: 22px 0;
    height: 95px;
    width: 100%;
}

.header-mobile__logo a {
    display: inline-block;
    height: 100%;
}

.header-mobile__logo .logo-img {
    height: 100%;
    width: auto;
}

.header-mobile-layout {
    background: #000;
    display: none;
    opacity: .4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
}

.header-mobile-nav {
    background: #388465;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 78%;
    z-index: 3500;
}

.mobile-nav-head {
    border-bottom: 1px solid #609d84;
    width: 100%;
    height: 53px;
}

.mobile-nav__button {
    height: 100%;
}

.mobile-nav-body {
    padding: 15px 0;
    width: 100%;
}

.mobile-nav-list {
    display: block;
    width: 100%;
}

.mobile-nav-list__item {
    display: block;
    width: 100%;
}

.mobile-list-item {
}

.mobile-list-item:hover {
    background: rgba(255, 255, 255, .1);
}

.mobile-list-item--drd {
    position: relative;
}

.mobile-list-item--drd .mobile-list-item--open {

}

.mobile-list-item--drd > .mobile-list-item--link:before,
.mobile-list-item--drd > .mobile-list-item--link:after {
    content: '';
    background: rgba(255, 255, 255, .6);
    display: block;
    position: absolute;
    width: 2px;
    height: 12px;
    top: 25px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mobile-list-item--drd > .mobile-list-item--link:before {
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobile-list-item--drd > .mobile-list-item--link:after {
    right: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobile-list-item--link {
    color: #ffffff;
    font-size: 1rem;
    line-height: 62px;
    text-align: left;
    display: block;
    height: 62px;

}

.mobile-list-item--link {
    padding: 0 15px;
}

.sub-menu.mobile-nav-list {
    display: none;
}

.sub-menu.mobile-nav-list a {
    padding-left: 30px;
}

.mobile-list-item--drd .sub-menu {
    background: #388465;
}

.mobile-list-item--drd .sub-menu.mobile-nav-list {
}

.mobile-list-item--drd.active {
    background: rgba(255, 255, 255, .1);
}

.mobile-list-item--drd.active > .mobile-list-item--link:before {
    right: 19px;
}

.mobile-list-item--drd.active > .mobile-list-item--link:after {
    right: 11px;
}

/*end header-mobile*/

/*header*/

.header {
    background: #fff;
    border-top: 4px solid #388465;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 2500;
}

.header__logo {
    text-align: center;
    padding: 16px 0;
    height: 86px;
}

.logo {

}

.logo-img {
    width: 206px;
    height: 53px;
}

.header__nav {
}

.nav {

}

.nav-list {
    text-align: center;
    width: 100%;
}

.nav-list__item {
    margin-right: 20px;
}

.list-item {
    display: inline-block;
}

.list-item.active .list-item--link {
    color: #388465;
}

.list-item--link {
    color: #000000;
    line-height: 86px;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.list-item--link:hover {
    color: #388465;
}

.list-item--red .mobile-list-item--link,
.list-item--red .list-item--link {
    color: #f4584b;
}

.list-item--drd {
    padding-right: 17px;
    position: relative;
}

.list-item--drd > .list-item--link:after,
.list-item--drd > .list-item--link:before {
    content: '';
    background: #999999;
    display: block;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    height: 6px;
    width: 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.list-item--drd .list-item--link:before {
    right: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.list-item--drd .list-item--link:after {
    right: 9px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.list-item--drd:hover > .list-item--link:after {
    right: 5px;
}

.list-item--drd:hover > .list-item--link:before {
    right: 9px;
}

.sub-menu.nav-list {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    display: none;
    margin-left: -93px;
    padding: 15px 0;
    position: absolute;
    width: 185px;
    top: 86px;
    left: 50%;
}

.list-item--drd:hover .sub-menu {
    display: block;
}

.sub-menu .list-item {
    display: block;
    width: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.sub-menu .list-item--link {
    line-height: 40px;
    text-align: center;
    width: 100%;
}

.sub-menu .list-item:hover {
    background: rgba(53, 132, 101, .3);
}

.culture {
}

.culture-list {
    display: block;
    text-align: center;
}

.culture-list__item {
    display: inline-block;
    line-height: 86px;
}

.culture-list__item.active .culture-item--link {
    background: #388465;
    color: #ffffff;
}

.culture-item--link {
    background: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #000000;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    display: inline-block;
    width: 34px;
    height: 34px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.culture-item--link:hover {
    background: #388465;
    color: #ffffff;
}

/*end header*/

/*title-block*/

.title-block {
    padding-top: 90px;
    position: relative;
    height: 710px;
}

.bg-slider {
    /*display: none;*/
    margin-left: -710px;
    position: absolute;
    top: 90px;
    left: 50%;
    width: 100%;
    max-width: 1420px;
    height: 620px;
    z-index: 5;
}

.bg-slider-layout {
    background: #388465;
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1420px;
    height: 620px;
    z-index: 15;
}

.bg-slider-elem {
    background: url("../image/hand.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 43px;
    width: 433px;
    height: 556px;
    z-index: 25;
}

.bg-slider-items {
    width: 100%;
}

.bg-slider-item {
    background: no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 1420px;
    height: 620px;
}

.title-block-content {
    position: relative;
    top: 150px;
    z-index: 15;
}

.title-block-title {
    color: #ffffff;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.6rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.title-block-info {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 30px;
}

.title-block-buttons {
}

.download-button {
    width: 130px;
    height: 40px;
}

.download-button:first-child {
    margin-right: 30px;
}

.download-button--link {
    display: block;
}

.download-button--android {
}

.download-button--apple {
}

/*end title-block*/

/*content*/

.content {
    margin-top: 55px;
}

.content-section {
    padding: 0 15px;
}

.content-section-title {
    border-bottom: 3px solid #388465;
    color: #388465;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 20px;
    position: relative;
    width: auto;
    z-index: 50;
}

.content-section-body {
    border-top: 3px solid #000;
    padding: 3px 0 0 0;
    position: relative;
    top: -3px;
    z-index: 45;
}

.about-app {
    padding: 15px 0;
}

.articles {
    width: 100%;
}

.article {
    background: no-repeat 0 15px;
    -webkit-background-size: 56px 73px;
    background-size: 56px 73px;
    border-bottom: 1px solid #cccccc;
    padding: 15px 15px 15px 86px;
}

.article--pdf {
    background-image: url("../image/icon_pdf.png");
}

.article--link {
    background-image: url("../image/icon_link.png");
}

.article--video {
    background-image: url("../image/icon_video.png");
}

.article-head {
    text-align: left;
}

.article-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
}

.article-info {
    color: #999999;
    font-family: "Roboto Condensed", sans-serif;
    font-size: .875rem;
    line-height: 1rem;
}

.article-body {
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 30px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;

}

.content-section__buttons {
    padding: 30px 0;
}

/*end content*/

/*footer*/

.footer {
    background: #2e2e2e;
    padding: 25px 0;
}

.footer__logo {

}

.footer__logo .logo-img {

}

.copyright {
    color: #cbcbcb;
    font-size: .75rem;
    font-style: normal;
    line-height: 1.125rem;
    margin-top: 15px;
}

.copyright span {
    color: #78c252;
}

.footer__nav .list-item--link {
    color: #ffffff;
}

.footer__nav .list-item--link:hover {
    color: #388465;
}

/*end footer*/












