@media screen and (min-width: 1900px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1700px) {
    html,
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 1400px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-height: 520px) {
    html, body {
        overflow: visible !important;
    }
    .header-mobile {
        position: absolute;
    }

    .header-mobile-nav {
        height: 520px;
    }
}

@media screen and (max-width: 1460px) {
    .bg-slider {
        margin-left: -620px;
        max-width: 1240px;
    }
}

@media screen and (max-width: 1280px) {
    .bg-slider {
        margin-left: 0;
        left: 0;
        max-width: none;
    }
}

@media screen and (max-width: 991px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .header-mobile-nav {
        display: block;
        left: -78%;
    }

    .title-block {
        padding-top: 145px;
        height: 565px;
    }

    .bg-slider {
        top: 145px;
        height: 420px;
    }

    .bg-slider-layout,
    .bg-slider-item {
        height: 420px;
    }

    .bg-slider-elem {
        width: 286px;
        height: 360px;
    }

    .title-block-content {
        top: 70px;
    }

    .content-section__buttons {
        text-align: center;
    }

    .footer__logo,
    .copyright {
        text-align: center;
    }

}

@media screen and (max-width: 767px) {
    .bg-slider-elem {
        display: none;
    }

    .title-block-title,
    .title-block-info,
    .title-block-buttons  {
        text-align: center;
    }

    .title-block {
        height: 545px;
    }

    .bg-slider-layout,
    .bg-slider-item {
        height: 400px;
    }
}

@media screen and (max-width: 460px) {
    .title-block-content {
        top: 15px;
    }
    .title-block {
        height: 345px;
    }

    .bg-slider-layout,
    .bg-slider-item {
        height: 200px;
    }

    .title-block-info {
        display: none;
    }

    .download-button:first-child {
        margin-right: 5px;
    }

    .content {
        padding: 0;
    }

    .article {
        background-size: 36px 46px;
        padding: 10px 15px 10px 55px;
    }

    .article-body {
        padding-top: 10px;
    }

    .content-section__buttons .button {
        width: 100%;
    }
}

@media screen and (max-width: 330px) {
    .title-block {
        height: 405px;
    }

    .bg-slider-layout,
    .bg-slider-item {
        height: 260px;
    }

    .download-button:first-child {
        margin-right: 0;
    }
}